<div class="container" style="border:2px solid #6ce079">
    <div class="card card-container container-dashboard">
        <div class="row">
            <div class="header-card-container">
                <h3 class="header-title">Atividades</h3>
                <button class="btn btn-success" data-toggle="modal" *ngIf="isAdmin" data-target="#add"
                    (click)="abrirModal()">Adicionar atividades</button>
            </div>
            <div class="painel">

                <div class="card" *ngFor="let i of atividades">
                    <div class="card-body">
                        <h4 class="card-title">{{i.nome}}</h4>
                        <p class="card-text"><strong>Descrição:</strong><br>{{i.descricao}}</p>
                        <p class="card-text"><strong>Pontuação:</strong><br>{{i.pontuacao}}pt</p>
                        <p class="card-text"><strong>Data de Entrega</strong><br>{{i.data_entrega}}</p>
                        <a href="#" class="btn btn-warning" *ngIf="isAdmin" data-target="#add" data-toggle="modal"
                            (click)="openModalEditar(i)">Editar</a>
                        <a href="20200325" class="btn btn-danger" data-toggle="modal" *ngIf="isAdmin" data-target="#del"
                            id="btn-delete-atividade" (click)="openModalDeletar(i.$key)">Deletar</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="add" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{titleModal}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row" class=" modal-correct">
                    <div class="col-md-2">
                        <label for="nome"><strong>Nome:</strong></label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" placeholder="Nome" name="nome" id="nome" class="form-control"
                            [(ngModel)]="atividade.nome" [ngModelOptions]="{standalone: true}"><br>
                    </div>
                </div>
                <div class="row" class=" modal-correct">
                    <div class="col-md-2">
                        <label for="descricao"><strong>Descrição:</strong></label>
                    </div>
                    <div class="col-md-10">
                        <textarea type="text" placeholder="Descrição da atividade" name="descricao" id="descricao"
                            class="form-control" [(ngModel)]="atividade.descricao"
                            [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>
                <div class="row" class=" modal-correct">
                    <div class="col-md-2">
                        <label for="pontuacao"><strong>Pontuação:</strong></label>
                    </div>
                    <div class="col-md-10">
                        <input type="number" placeholder="Pontuação da atividade" name="pontuacao" id="pontuacao"
                            class="form-control" [(ngModel)]="atividade.pontuacao"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="row" class=" modal-correct">
                    <div class="col-md-2">
                        <label for="entrega"><strong>Entrega:</strong></label>
                    </div>
                    <div class="col-md-10">
                        <input type="date" placeholder="Data de entrega da atividade" name="entrega" id="entrega"
                            class="form-control" [(ngModel)]="atividade.data_entrega"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="modal-footer-buttons">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button *ngIf="titleModal != 'Adicionar'" type="button" class="btn btn-success" (click)="editar()"
                        data-dismiss="modal">Editar</button>
                    <button *ngIf="titleModal == 'Adicionar'" type="button" class="btn btn-success"
                        (click)="adicionar()" data-dismiss="modal">Adicionar</button>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="del" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h6>Tem certeza que deseja deletar esta atividade?</h6>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="deletar(idDeletar)"
                    data-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>